doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body 
        div.nav 
            div.nav1  
                div 
                    img(src="./media/logo.png", alt="")
                div 
                    ul 
                        li 
                            a(href="/") Home 
                        li 
                            a(href="/service") Our Service 
                        li 
                            a(href="#destination") Destinations
                        li 
                            a(href="/contact") Contact Us
