doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../static/css/style.css")
    body 
        include  ./components/navBar.pug
        div.home
            div.image
                img(src="./media/Image (2).png", alt="travel_image")
            div.texte
                h3 Best Destinations around the world
                h1 Travel, enjoy and live a new and full life
                p  Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
                button 
                    a(href="") find out more our service 
    script(src="/js/script.js")