doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../static/css/style2.css")
    body 
        include  ./components/navbar.pug
        h1 Nos Services
        p Nos services sont conçus pour répondre à vos besoins en "développement web", "marketing digital" Découvrez ci-dessous comment nous pouvons vous aider.
        h2 liste de nos Services
        div 
            img
            div 
                h3 Developpement Web 
                p  Nous créons des sites web modernes, responsives et optimisés pour offrir la meilleure expérience utilisateur
        div 
            img
            div 
                h3 Création de Contenu
                p Nous vous aidons à créer du contenu engageant pour vos blogs, réseaux sociaux ou sites web 
        div 
            img
            div 
                h3 Référencement SEO 
                p  Améliorez votre visibilité en ligne grâce à nos stratégies de référencement sur mesure
        div 
            img
            div 
                h3 Design Graphique
                p Nous concevons des designs visuellement attrayants pour vos supports marketing (logos, bannières, flyers, etc.
        h2 Détails supplémentaires
        p Nos experts utilisent les dernières technologies pour garantir des solutions de qualité
        img // react node.js express.js mongodb tailwind js 